hello
<app-pagination [total]="1" [limit]="2" [currentPage]="3"> </app-pagination>


<div class="container mt-6">
  <!-- <app-input (outEnterName)="addName($event)"></app-input> -->
  <app-input (outEnterName)="addName($event)"></app-input>

  <div class="students_list mt-6">
    <h2 class="subtitle">Список студентів:</h2>
    <ul class="list">
      <li class='list-item mb-1 mt-1' *ngFor="let student of students">
        <!-- {{student.name}} -->
        <app-student [student]="student"></app-student>
        <!-- <app-student [student]="student"></app-student> -->
      </li>
    </ul>
  </div>
</div>





<!-- <div class="my-component" class.disabled="disabled">
    <h2>Заголовок компонента</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <button>Моя кнопка</button>
  </div> -->

  <p [class.highlight]="isHighlighted">{{ text }}</p> <!-- Встановлюємо клас в залежності від isHighlighted -->
  <button (click)="toggleClass()">Toggle Class</button>


  <p>Resize the window to see the current width</p>
  <p>Current width: {{ windowWidth }}</p>

